.corFundo{
  background-color: ghostwhite;
}

.temp-color{
  background-color: paleturquoise;
}

.button{
  padding-top: 3%;
}

.fundoMsg{
  background-color: paleturquoise;
}

.colorMsg{
  background-color: #D1EEEE;
}
