<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Previsão do Tempo</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
  folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Angular -->
  <script type="text/javascript" src="angular/angular.min.js"></script>

  <!-- Modulos Angular -->
  <script type="text/javascript" src="angular/app.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue layout-top-nav" ng-app="myTemp" ng-controller="myCtrlTemp">

  <!-- Cabeçalho -->
  <div class="wrapper">
    <div class="main-header">
      <div class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">Previsão do Tempo</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper" id="fundo">
    <div class="container">
      <!-- Título -->
      <div class="row">
        <div class="col-md-12">
          <h4>Consulte a previsão do tempo desta semana</h4>
        </div>
      </div>
    </div><!-- Fim Título -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info" id="cidadeEstado"> <!-- Box Cidade e Estado -->
            <div class="box-header with-border">
              <h5 class="box-title">Informe a cidade e estado</h5>
            </div><!-- /.box-header -->

            <div class="box-body" id="cidadeEstado">
              <div class="row">
                <!-- Estado -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Estado</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">SC</option>
                      <option>AC</option>
                      <option>AL</option>
                      <option>AP</option>
                      <option>AM</option>
                      <option>BA</option>
                      <option>CE</option>
                    </select>
                  </div>
                </div><!-- /.box-body -->

                <!-- Cidade -->
                <div class="col-md-4">
                  <label>Cidade</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Blumenau</option>
                  </select>
                </div>

                <!-- Botões -->
                <div class="col-md-4">
                  <!-- Botão Consultar -->
                  <button type="button" name="btnConsultar" class="btn btn-info">
                    <p>Consultar</p>
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                  <!-- Botão favoritos     -->
                  <button type="button" name="btnFavorito" class="btn btn-info">
                    <p>Consultar</p>
                    <i class="glyphicon glyphicon-star-empty"></i>
                  </button>
                </div>

              </div>
            </div>
          </div><!-- Fim Box Cidade e Estado -->
        </div> <!-- col-md-12 -->
      </div> <!-- Fim row -->
    </div> <!-- Fim container-->

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm6 col-xs-12">

          <div class="box box-info" id="diaSemana"><!--  Box dias da Semana -->
            <div class="box-header with-border">
              <h5 class="box-title">Dias da Semana</h5>
            </div>

            <div class="box-body" id="diaSemana"><!-- Hoje -->
              <div class="row">
                <div class="col-md-4 col-sm6 col-xs-12">
                  <div class="box box-widget widget-user">
                    <div class="widget-user-header bg-aqua-active">
                      <h3 class="widget-user-username" ng-bind="myData.previsoes[0].data"></h3>

                    </div>
                    <div class="widget-user-image">
                      <img class="img-circle" ng-src="{{myData.previsoes[0].imagem}}" ng-model="selectedImg">
                    </div>
                    <div class="box-footer temp-color" >
                      <div class="row">
                        <div class="col-sm-6 border-right">
                          <div class="description-block" >
                            <h5 class="description-header">Máxima</h5>
                            <span ng-bind="myData.previsoes[0].temperatura_max" class="description-text"></span>
                          </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-6 border-right">
                          <div class="description-block">
                            <h5 class="description-header">Mínima</h5>
                            <span ng-bind="myData.previsoes[0].temperatura_min" class="description-text"></span>
                          </div><!-- /.description-block -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div>
                  </div>
                </div>

                <!-- Proximo dia 1 -->
                <div class="col-md-2 col-sm6 col-xs-12">
                  <div class="box box-widget widget-user">
                    <div class="widget-user-header bg-aqua-active">
                      <h6 ng-bind="myData.previsoes[1].data"></h6>
                    </div>
                    <div class="widget-user-image">
                      <img class="img-circle" ng-src="{{myData.previsoes[1].imagem}}" ng-model="selectedImg">
                    </div>
                    <div class="box-footer temp-color">
                      <div class="row">
                        <div class="col-sm-6 border-right">
                          <div class="description-block">
                            <h5 class="description-header">Máxima</h5>
                            <span ng-bind="myData.previsoes[1].temperatura_max" class="description-text"></span>
                          </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-6 border-right">
                          <div class="description-block">
                            <h5 class="description-header">Mínima</h5>
                            <span ng-bind="myData.previsoes[1].temperatura_min" class="description-text"></span>
                          </div><!-- /.description-block -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div>
                  </div>
                </div>
                <!-- Fim Proximo dia 1 -->

                <!-- Proximo dia 2 -->
                <div class="col-md-2 col-sm6 col-xs-12">
                  <div class="box box-widget widget-user">
                    <div class="widget-user-header bg-aqua-active">
                      <h6 ng-bind="myData.previsoes[2].data"></h6>
                    </div>
                    <div class="widget-user-image">
                      <img class="img-circle" ng-src="{{myData.previsoes[2].imagem}}" ng-model="selectedImg">
                    </div>
                    <div class="box-footer temp-color">
                      <div class="row">
                        <div class="col-sm-6 border-right">
                          <div class="description-block">
                            <h5 class="description-header">Máxima</h5>
                            <span ng-bind="myData.previsoes[2].temperatura_max" class="description-text"></span>
                          </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-6 border-right">
                          <div class="description-block">
                            <h5 class="description-header">Mínima</h5>
                            <span ng-bind="myData.previsoes[2].temperatura_min" class="description-text"></span>
                          </div><!-- /.description-block -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div>
                  </div>
                </div>
                <!-- Fim proximo dia 2 -->

                <!-- Proximo dia 3 -->
                <div class="col-md-2 col-sm6 col-xs-12">
                  <div class="box box-widget widget-user">
                    <div class="widget-user-header bg-aqua-active">
                      <h6 ng-bind="myData.previsoes[3].data"></h6>
                    </div>
                    <div class="widget-user-image">
                      <img class="img-circle" ng-src="{{myData.previsoes[3].imagem}}" ng-model="selectedImg">
                    </div>
                    <div class="box-footer temp-color">
                      <div class="row">
                        <div class="col-sm-6 border-right">
                          <div class="description-block">
                            <h5 class="description-header">Máxima</h5>
                            <span ng-bind="myData.previsoes[3].temperatura_max" class="description-text"></span>
                          </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-6 border-right">
                          <div class="description-block">
                            <h5 class="description-header">Mínima</h5>
                            <span ng-bind="myData.previsoes[3].temperatura_min" class="description-text"></span>
                          </div><!-- /.description-block -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div>
                  </div>
                </div>
                <!-- Fim proximo dia 3 -->

                <!-- Proximo dia 4 -->
                <div class="col-md-2 col-sm6 col-xs-12">
                  <div class="box box-widget widget-user">
                    <div class="widget-user-header bg-aqua-active">
                      <h6 ng-bind="myData.previsoes[4].data"></h6>
                    </div>
                    <div class="widget-user-image">
                      <img class="img-circle" ng-src="{{myData.previsoes[4].imagem}}" ng-model="selectedImg">
                    </div>
                    <div class="box-footer temp-color">
                      <div class="row">
                        <div class="col-sm-6 border-right">
                          <div class="description-block">
                            <h5 class="description-header">Máxima</h5>
                            <span ng-bind="myData.previsoes[4].temperatura_max" class="description-text"></span>
                          </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-6 border-right">
                          <div class="description-block">
                            <h5 class="description-header">Mínima</h5>
                            <span ng-bind="myData.previsoes[4].temperatura_min" class="description-text"></span>
                          </div><!-- /.description-block -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div>
                  </div>
                </div>
                <!-- Fim proximo dia 4 -->
              </div>
            </div><!--Fim Hoje -->
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery 2.1.4 -->
    <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
  </html>
